%h1 All Gifs

- if @categories
  .categories
    - @categories.each do |category|
      %div{id: "#{category.name}"}
        %h3= category.name

        - category.gifs.each do |gif|
          = image_tag gif.image_path
          = form_for :gif_to_delete, url: admin_gif_path(gif), method: :delete do |f|
            = f.hidden_field :gif_id, :value => gif.id
            = f.submit "Delete"
